// Place all the styles related to the followfriday controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.followFridayContent{}

#tweetformwrapper{}

.friend > *{
  max-width: 100%;
  display: block;
}

#friendlist{
  font-size: 0;
}

.friend{
  width: 260px;
  height: 130px;
  margin: 0px 3px 0px 3px;
  padding: 5px;
  position: relative;
  font-size: 20px;
  display: inline-block;
  text-align: center;
}

.friendAvatar{
  position: absolute;
  top: 20px;
  left: 20px;
  border: 2px solid;
  border-radius: 25px;
}

.screenName{
  position: absolute;
  top: 80px;
  width: 260px;
  background-color: black;
  opacity: 60%;
  padding: 0;
}
.name{
  position: absolute;
  top: 110px;
  width: 260px;
  background-color: black;
  opacity: 60%;
  padding: 0;
}

.selected{
  background-color: #AA0;
}

.unselected{
  background-color: #0AA;
}

.disabled{
  background-color: #A00;
}